{% extends 'home.html' %}

{% block title %} ATTENDEE VIEW {% endblock %}

{% block content %}

<h2 style='text-align:center;'> Hello {{request.user}} Admin! </h2>

<h4 style='text-align:center'> Here are the attendnce details of your team</h4>

<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Upcoming Session(s)</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Active Session(s)</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Completed Session(s)</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<h5>REGISTERED PARTICIPANTS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Add Participant</a>
			<table class="table table-sm">
				<tr>
					<th> </th>
					<th>Name</th>
					<th>Reg. Number</th>
				</tr>
				<!-- needs to be edited correclty -->
				{% for c in customers %}
				<tr>
					<td><a class='btn btn-sm btn-info' href="{% url 'customer' c.id %}">View</a> </td>
					<td>{{c.name}}</td>
					<td>{{c.phone}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>MOST RECENT SESSIONS </h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'newactivity' %}">Add Activity</a>
			<table class="table table-sm">
				<tr>
					<th>Session</th>
					<th>Venue</th>
					<th>Date and Time</th>
					<th>Duration</th>
					<th>Action</th>
				</tr>
				<!-- needs proper editing -->
				{% for o in orders %}
				<tr>
					<td> </td>
					<td> </td>
					<td> <td>
					<td> <td>
					<td><a class='btn btn-sm btn-info' href=" ">Update</a></td>
				</tr>
				{% endfor %}

		
			</table>
		</div>
	</div>

</div>

<a class="btn btn-info  btn-sm btn-lg" style="margin: 1rem 0 auto" href="{% url 'newvenue' %}">Add Venue</a>

{% endblock %}

<!--
<style>
table, th, td {
  border:1px solid black;
  text-align:center
}
</style>
<table>
    <tr>
        <th> Session Name </th>
        <th> Session Venue</th>
        <th> Session duration</th>
        <th> Session Active</th>
    </tr>
    {% for data in tables %}
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    {% endfor %}
</table>
-->