{% extends 'home.html' %}

{% block title %} ATTENDEE {% endblock%}

{% block content %}

<h1 style='text-align:center; margin: 2rem'> Attendee Login</h1>

<div class='col-md-4', style='margin: 0 auto'>

    <form method='POST' action="{% url 'attendviews' %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary" style="margin: 1rem auto 0 auto; display:block">submit</button>
    </form>


    <br/>
    <p style="text-align: center">Have you registered? Click <a href="{% url 'attendee-reg' %}">HERE</a> if not!</p>

</div>

{% endblock %}
