{% extends 'home.html' %}

{% block title %}Attendee Registration {% endblock %}

{% block content %}

<h3>This is the attendee registration page</h3>

<div class='col-md-4', style='margin: 0 auto'>

    <form method='POST' action="">
        {% csrf_token %}
        
        {{form.as_p}}
        <button type="submit" class="btn btn-primary" style="margin: 1rem auto 0 auto; display:block">Submit</button>
    </form>
    
    <br/>
    <p style='text-align: center'>You are registered? Click <a href="{% url 'attendee' %}">HERE</a> to log in!</p>
</div>

{% endblock %}