{% extends 'home.html' %}

{% block title %}Attendee Registration {% endblock %}

{% block content %}

<h3 style='text-align: center; margin: 2rem '>Attendee registration page</h3>

<div class='col-md-4', style='margin: 2rem auto 0 auto'>
    <form method='POST' action="">
        {% csrf_token %}
    
        <input type='integer' name='institution_ID' placeholder='Institution ID First, please'>
        <br>
        <br>
        <button type='submit' class='btn btn-info' style='margin: 1 rem auto 0 auto'>Confirm</button>
    </form>

</div>
{% endblock %}