{% extends 'home.html' %}

{% load static %}

{% block title %} INSTITUTION {% endblock%}

{% block content %}

<h1 style='text-align:center; margin: 2rem'> Institution Login</h1>

<div class='col-md-6' style='margin: 0 auto;'>
    <p style='text-align:center'>Please enter your credentials below</p>
    <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" name='username' placeholder="Institution Abbreviation(Username)" class="form-control"><br>
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="password" name='password' placeholder="Enter your password" class='form-control'><br>
        </div>
        
            <input type="submit" class="btn btn-primary" style="margin: 1rem auto 0 auto; display:block">
            <p> </p>
            <p> </p>
            <p style='text-align:center; margin: 2rem'> Don't have an account? Click <a href='/register/'>HERE </a> to create one.</p>
    </form>
    
</div>

{% endblock %}
