{% extends 'home.html' %}

{% block title %} REGISTER PAGE {% endblock %}

{% block content %}

<div class='col-md-6' style='margin: 0 auto;'>
    <h2 style='text-align: center; margin: 1rem'>Welcome to sign up page.</h2>
    <p style='text-align:center'>Please fill in the details below to create a register account</p>
    
    <form method='POST'>
        {% csrf_token %}

        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" name='first_name' placeholder="Name of Institution" class="form-control"><br>
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" name="username" placeholder="Institution Abbreviation(Username)" class='form-control'><br>
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="email" name='email' placeholder="Institution Email" class='form-control'><br>
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="password" name='password1' placeholder="Password" class='form-control'><br>
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="password" name='password2' placeholder="Confirm Password" class='form-control'><br>
        </div>

        <input type="submit" class="btn btn-primary" style="margin: 1rem auto 0 auto; display:block">
    <p style='text-align:center; margin: 2rem'> You have an account? Click <a href='/institutionlogin/'>HERE </a> to login instead.</p>
</div>

{% endblock %}