{% extends 'home.html' %}

{% block title %} ADD ACTIVITY {% endblock %}

{% block content %}
<div class='col-md md' style='margin: auto 0 auto;'>

    <h3 style='text-align: center; margin: 2rem' >Register your activity here</h3>
    <form method='POST' action=''>
        {% csrf_token %}
        {% for activity in activity_form %}
            <div class='mb-3' style='margin: 0 auto'>    
                <div class='input-group-append'>
                    {{activity}}
                </div>
                <br>
            </div>
        {% endfor %}
        <input type='submit' name='Add_Activity'>

        <a class="btn btn-success  btn-sm" href="{% url 'instviews' %}">Back to Views</a>

    </form>
</div>
{% endblock %}